# Theme Settings
minimal_mistakes_skin    : "default"

# Site Settings
locale                   : "en-US"
title                    : "Deyu Zhou 周德宇"
title_separator          : "-"
name                     : "Deyu Zhou's personal website"
description              : "Personal homepage of Deyu Zhou (周德宇), Ph.D. candidate at HKUST-GZ."
url                      : "https://deyuzhou-ust.github.io"
baseurl                  :
repository               :
teaser                   :
logo                     :
masthead_title           :
breadcrumbs              :
words_per_minute         : 200

atom_feed:
  path                   :
  hide                   : true
search                   : false

# Site Author
author:
  name             : "Deyu Zhou"
  avatar           : "/assets/images/photo.jpg"
  bio              : "Ph.D. Candidate at HKUST-GZ"
  location         : "Guangzhou, China"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:dzhou861@connect.hkust-gz.edu.cn"
    - label: "Google Scholar"
      icon: "fas fa-fw fa-graduation-cap"
      url: "https://scholar.google.com/citations?view_op=list_works&hl=en&user=d_pMZR8AAAAJ"

# Site Footer
footer:
  links:
    - label: "Google Scholar"
      icon: "fas fa-fw fa-graduation-cap"
      url: "https://scholar.google.com/citations?view_op=list_works&hl=en&user=d_pMZR8AAAAJ"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed
  quiet_deps: true

# Outputting
permalink: /:categories/:title/

# Pagination
paginate: 5
paginate_path: /page:num/

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: false
      read_time: true
      comments: true
      share: true
      related: true
      toc: true
      toc_label: "Table of Contents"
      toc_sticky: true

  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
